<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="/images/photo.jpg" width="15%" height="15%"></img>
    <h4><%= NAME %></h4>
    <h4><%= DATE %></h4>
    <h4><%= CONTACT %></h4>
    <a href="/"><h1><%= content %></h1></a>
  </body>
</html>